# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.lofuszvonalstechbknj:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.lofuszvonalstechbknj:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"JWT_SECRET="supersercretdo-not-share-123456"
JWT_SECRET="your-secret-here"
PORT=3000
